<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<!-- <li><a href="/contact">Contact</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
	<footer>
            <ul>
                <li><a href="mailto:heena.jain98@gmail.com"> <i class="fa fa-mail-reply"></i></a></li>
                <li><a href="https://github.com/heenajain123"> <i class="fa fa-github"></i></a></li>
                <!-- <li><a href="https://www.facebook.com/heena.jain4"> <i class="fa fa-facebook"></i></a></li> -->
                <li><a href="https://www.quora.com/profile/Heena-Jain-23"> <i class="fa fa-quora"  aria-hidden="true"></i></a></li>

            </ul>
        </footer>
		</body>
	</html>
